In [1]:
# general imports
import numpy as np
from exputils.gui.jupyter import tabulate_pairwise

In [2]:
# simple plotting - array with several elements
np.random.seed(1)
data = [[np.random.randn(100), np.random.randn(100), np.random.randn(100)+4]]
data_labels = [('ds1', ['exp1', 'exp2', 'exp3'])]

tabulate_pairwise(data, labels=data_labels, cell_format='{:.2f}')

'<table>\n<thead>\n<tr><th>    </th><th style="text-align: right;">  exp1</th><th style="text-align: right;">  exp2</th><th style="text-align: right;">  exp3</th></tr>\n</thead>\n<tbody>\n<tr><td>exp1</td><td style="text-align: right;">     1</td><td style="text-align: right;">  0.33</td><td style="text-align: right;">     0</td></tr>\n<tr><td>exp2</td><td style="text-align: right;">  0.33</td><td style="text-align: right;">     1</td><td style="text-align: right;">     0</td></tr>\n<tr><td>exp3</td><td style="text-align: right;">     0</td><td style="text-align: right;">     0</td><td style="text-align: right;">     1</td></tr>\n</tbody>\n</table>'

In [3]:
# simple plotting - array with several elements
np.random.seed(1)
data = [[np.random.randn(100), np.random.randn(100), np.random.randn(100)+4]]
data_labels = [('ds1', ['exp1', 'exp2', 'exp3'])]

tabulate_pairwise(
    data, 
    labels=data_labels, 
    pairwise_mode='full_not_identity',
    cell_format='{:.2f}')

'<table>\n<thead>\n<tr><th>    </th><th style="text-align: right;">  exp1</th><th style="text-align: right;">  exp2</th><th style="text-align: right;">  exp3</th></tr>\n</thead>\n<tbody>\n<tr><td>exp1</td><td style="text-align: right;">      </td><td style="text-align: right;">  0.33</td><td style="text-align: right;">     0</td></tr>\n<tr><td>exp2</td><td style="text-align: right;">  0.33</td><td style="text-align: right;">      </td><td style="text-align: right;">     0</td></tr>\n<tr><td>exp3</td><td style="text-align: right;">     0</td><td style="text-align: right;">     0</td><td style="text-align: right;">      </td></tr>\n</tbody>\n</table>'

In [4]:
# simple plotting - array with several elements
np.random.seed(1)
data = [[np.random.randn(100), np.random.randn(100), np.random.randn(100)+4]]
data_labels = [('ds1', ['exp1', 'exp2', 'exp3'])]

tabulate_pairwise(
    data, 
    labels=data_labels, 
    pairwise_mode='upper_triangle',
    cell_format='{:.2f}')

'<table>\n<thead>\n<tr><th>    </th><th style="text-align: right;">  exp1</th><th style="text-align: right;">  exp2</th><th style="text-align: right;">  exp3</th></tr>\n</thead>\n<tbody>\n<tr><td>exp1</td><td style="text-align: right;">     1</td><td style="text-align: right;">  0.33</td><td style="text-align: right;">     0</td></tr>\n<tr><td>exp2</td><td style="text-align: right;">      </td><td style="text-align: right;">     1</td><td style="text-align: right;">     0</td></tr>\n<tr><td>exp3</td><td style="text-align: right;">      </td><td style="text-align: right;">      </td><td style="text-align: right;">     1</td></tr>\n</tbody>\n</table>'

In [5]:
# simple plotting - array with several elements
np.random.seed(1)
data = [[np.random.randn(100), np.random.randn(100), np.random.randn(100)+4]]
data_labels = [('ds1', ['exp1', 'exp2', 'exp3'])]

tabulate_pairwise(
    data, 
    labels=data_labels, 
    pairwise_mode='upper_triangle_not_identity',
    cell_format='{:.2f}')

'<table>\n<thead>\n<tr><th>    </th><th style="text-align: right;">  exp2</th><th style="text-align: right;">  exp3</th></tr>\n</thead>\n<tbody>\n<tr><td>exp1</td><td style="text-align: right;">  0.33</td><td style="text-align: right;">     0</td></tr>\n<tr><td>exp2</td><td style="text-align: right;">      </td><td style="text-align: right;">     0</td></tr>\n</tbody>\n</table>'

In [6]:
# simple plotting - array with several elements
np.random.seed(1)
data = [[np.random.randn(100), np.random.randn(100), np.random.randn(100)+4]]
data_labels = [('ds1', ['exp1', 'exp2', 'exp3'])]

tabulate_pairwise(
    data, 
    labels=data_labels, 
    pairwise_mode='lower_triangle',
    cell_format='{:.2f}')

'<table>\n<thead>\n<tr><th>    </th><th style="text-align: right;">  exp1</th><th style="text-align: right;">  exp2</th><th style="text-align: right;">  exp3</th></tr>\n</thead>\n<tbody>\n<tr><td>exp1</td><td style="text-align: right;">     1</td><td style="text-align: right;">      </td><td style="text-align: right;">      </td></tr>\n<tr><td>exp2</td><td style="text-align: right;">  0.33</td><td style="text-align: right;">     1</td><td style="text-align: right;">      </td></tr>\n<tr><td>exp3</td><td style="text-align: right;">     0</td><td style="text-align: right;">     0</td><td style="text-align: right;">     1</td></tr>\n</tbody>\n</table>'

In [7]:
# simple plotting - array with several elements
np.random.seed(1)
data = [[np.random.randn(100), np.random.randn(100), np.random.randn(100)+4]]
data_labels = [('ds1', ['exp1', 'exp2', 'exp3'])]

tabulate_pairwise(
    data, 
    labels=data_labels, 
    pairwise_mode='lower_triangle_not_identity',
    cell_format='{:.2f}')

'<table>\n<thead>\n<tr><th>    </th><th style="text-align: right;">  exp1</th><th style="text-align: right;">  exp2</th></tr>\n</thead>\n<tbody>\n<tr><td>exp2</td><td style="text-align: right;">  0.33</td><td style="text-align: right;">      </td></tr>\n<tr><td>exp3</td><td style="text-align: right;">     0</td><td style="text-align: right;">     0</td></tr>\n</tbody>\n</table>'

In [8]:
# simple plotting - array with several elements
np.random.seed(1)
data = [[np.random.randn(100), np.random.randn(100), np.random.randn(100)+4]]
data_labels = [('ds1', ['exp1', 'exp2', 'exp3'])]

def cell_formater(num):
    if num < 0.01:
        return 'p < 0.01'
    else:
        return '{:.3f}'.format(num)
    
tabulate_pairwise(
    data, 
    labels=data_labels, 
    pairwise_mode='lower_triangle_not_identity',
    cell_format=cell_formater,
    top_left_cell_content='p')

'<table>\n<thead>\n<tr><th>p   </th><th>exp1    </th><th>exp2    </th></tr>\n</thead>\n<tbody>\n<tr><td>exp2</td><td>0.325   </td><td>        </td></tr>\n<tr><td>exp3</td><td>p &lt; 0.01</td><td>p &lt; 0.01</td></tr>\n</tbody>\n</table>'